.about-text {
    color: white;
}

.about-text span {
    color: white;
}

.text-container {
    position: absolute;
    margin-top: -30%;
    line-height: 2;
}

.hero-image {
    margin-top: -10%;
}

@media (max-width: 600px) {
   
  }

  @media (min-width: 601px) and (max-width: 1024px) {
   
  }
  
  @media (min-width: 1025px) {

    .hero-image {
        opacity: 50%;
    }


  }