

.corvette-plate-container {
    background-color: white;
    width: 100%;
    padding-left: 7%;
    padding-top: 3%;
    padding-bottom: 3%;
    display: inline-flex;
}

.corvette-plate-container img {
    width: 70%;
    border-radius: 20px;
}

.corvette-plate-text {
    color: black;
    width: 100%;
    margin-left: 3%;
    overflow: hidden;
    margin-right: 25%;
    font-size: 25px;

}

.corvette-plate-text h2 {
    font-size: 40px;

}

#description {
    display: inline-flex;
    font-size: 20px;
}

.buttons {
    width: 100px;
}