
.featured-container {

    background-color: #fff;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.featured-header {
    text-align: left;
}

  @media (max-width: 600px) {

    .featured-container {
        padding-bottom: 10%;
    }
  }

  @media (min-width: 601px) and (max-width: 1024px) {
   
  }
  
  @media (min-width: 1025px) {


  }