
.featured-container {

    background-color: #fff;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 7%;
    text-align: center;
    padding-bottom: 7%;
}

.featured-header {
    text-align: left;
}

  @media (max-width: 600px) {

  }

  @media (min-width: 601px) and (max-width: 1024px) {
   
  }
  
  @media (min-width: 1025px) {


  }