
footer {
    color: white;
    margin-left: 20%;
    margin-right: 20%;
    line-height: 200%;
    text-align: center;
}

#copyright {
    color: white;
    padding-bottom: 50px;
}

footer img {
    width: 30px;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: underline;
}

