body {
    margin: 0;
    padding: 0;
}
.navbar {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black; /* Change background color to black */
    padding: 0px 0px; /* Adjust padding as needed */
    z-index: 1000; /* Ensure it stays on top of other content */
  }
  
  .logo img {
    width: 200px; /* Adjust the width of your logo */
    padding-left: 10%;

  }
  
  .nav-links {
    list-style-type: none;
    display: flex;
    gap: 33px; /* Adjust the space between links */
    padding-right: 50px;
    text-decoration: none;
  }
  
  .nav-links li a {
    color: #fff; /* Change link color */
    text-decoration: none;
  }
  
  .nav-links li a:hover {
    text-decoration: underline; /* Add underline on hover */
  }

    /* Scale from center */
  .nav div.main_list ul li a::after {
    opacity: 1;
    transform: scale(0);
    transform-origin: center;
  }
  
  .nav div.main_list ul li a:hover::after,
  .nav div.main_list ul li a:focus::after{
    transform: scale(1);
    z-index: 4;
  }

  #shopping-bag {
    width: 30px;
    margin-top: -5px;
    margin-right: -20px;
  }
  

  @media screen and (max-width:768px) {
    .links {
        display: none;
    }

    .logo img {
        width: 150px; /* Adjust the width of your logo */
    }
    
  }



  
  