h1 , p{
    color: #000;
}

.shop-container {
    background-color: #fff;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 3%;
    text-align: center;
    padding-bottom: 7%;
    
}

.shop-container img {
    width: 90%;
    padding-top: 20px;
}

.shop-header {
    text-align: left;
    font-size: 30px;
    margin-bottom: -30px;
}

@media (max-width: 600px) {



}
