
@font-face {
    font-family: 'Racing Sans One';
    src: local('Racing Sans One'), url('./fonts/RacingSansOne-Regular.ttf') format('woff2'); 

  }


body {
    background-color: #000;
    margin: 0;
    padding: 0;

}


button {
    outline: none;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 30px;
    color: black;
}

h4 {
    font-size: 25px;
}

p {
    font-size: 20px;
    color: black;
}

h1 {
    font-family:  'Racing Sans One';
    font-style: normal;
    line-height: 100%;
    letter-spacing: 7%;
}

h2 {
    /* Subtitle */
    font-family:  'Racing Sans One';
    font-style: normal;
    line-height: 100%; /* 139.572% */
}

h3 {
    /* Text */
    font-family: 'Racing Sans One';
    font-style: normal;
    line-height: 200%;
}

p {
    /* Text */
    font-family: 'Racing Sans One';
    font-style: normal;
    line-height: 100%;
}

a {
    /* Subtitle */
    font-family: 'Racing Sans One';
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 139.572% */
    cursor: pointer;
}

button {
     /* Subtitle */
     font-family: 'Racing Sans One';
     font-style: normal;
     font-weight: 500;
     line-height: 100%; /* 139.572% */
     cursor: pointer;
}



span {
    font-size: 20px;
    color: black;
}

.header {
    color: #158CA4;
  }

.main-button {

    display: flex;
    width: 150px;
    padding: 16px 14px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 8px;
    border-radius: 45px;
    color: white;
    background: var(--WF-Base-800, #158CA4);
    border-style: none;
    margin-bottom: 30px;
    font-size: 20px;
    transition: transform 0.3s ease-in-out;

  }


.second-button {

    display: flex;
    width: 300px;
    padding: 16px 14px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 45px;
    color: black;
    font-size: large;
    border-color: #000;
    border-style: solid;
    background-color: white;
    margin-bottom: 7%;
    margin-top: 30px;
    font-size: 20px;
    transition: transform 0.3s ease-in-out;

  }

  .second-button:hover {
    transform: scale(1.05); /* Scale up by 10% */
  }

  .main-button:hover {
    transform: scale(1.05); /* Scale up by 10% */
  }



a {
    outline: none;
    cursor: pointer;
}

.Link {
    text-decoration: none;

  }

Link {
    display: flex;
}


  @media (max-width: 600px) {
    h1 {
        font-size: 50px;
    }
    
    h2 {
        font-size: 40px;
    }
    
    h3 {
        font-size: 25px;
    }
    
    h4 {
        font-size: 20px;
    }
    
    p {
        font-size: 15px;
    }
  }

  @media (min-width: 601px) and (max-width: 1024px) {
   
  }
  
  @media (min-width: 1025px) {
    button {
        font-size: 20px;
    }
    

  }
  
  